# Local configuration files
/js/config.js

# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Build directories
/dist
/build
/.vercel

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
